.container{
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 0 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;

}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.logoArea{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    /* margin: 2%; */
}
.siteName{
    font-size: 22px;
    font-weight: 700;
    color: black;
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    padding: 0 2%;
}
.container{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.container svg{
    margin-top: 10px;
}
.deskConnect{
    display: block;
    padding: 2%;
    background-color: blue;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
}
.deskConnect:active{
    opacity: 0;
}
.overlay{
    height: 100vh;
    width: 100%;
    background-color: rgba(43, 43, 245, 0.904);
    position: fixed;
    top: 0;
    z-index: 1;
}
.overlay .cardHolder{
    margin-top: 100px;
    min-height: 300px;
    width: 100%;
    /* background-color: green; */
    padding: 0 2%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    flex-direction: column;
}
.overlay .cardHolder .card{
    height: 40px;
    width: 60%;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2%;
    column-gap: 20px;
    cursor: pointer;
}
.overlay .cardHolder .card:active{
    opacity: 0;
}

.overlay .cardHolder .card .imgSide{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: blue;
}
.overlay .cardHolder .card .text{
    font-size: 13px;
    font-weight: 600;
    color: gray;
}
.connection{
    height: 40px !important;
    width: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:872px){
    .connection{
        height: 40px !important;
        width: 100px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container svg{
        display: none;
    }
    .deskConnect{
        display: block;
        padding: 2%;
        background-color: blue;
        color: white;
        font-size: 14px;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        font-weight: 700;
        cursor: pointer;
    }
}