.container{
    height: auto;
    width: 100%;
    background-color: transparent;
    margin-bottom: 30px;
}
.head{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}
.cardsHolder{
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card1{
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 3px rgb(109, 108, 108);
    border-radius: 10px 10px;
}
.card1 .up{
    flex: 5;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px 10px;
}
.card1 .down{
    flex: 1;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    width: 95%;
    color: rgb(70, 70, 70);
    font-weight: 600;
    margin: 10px 0;
}